@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my website for the Ensek tech test. Please use the navigation at the top of the page to see the accounts and meter readings of the test data.</p>
</div>
